@import "tailwindcss";

@theme {
  --font-heading: "Newsreader", serif;
  --font-body: "Manrope", sans-serif;

  --color-primary: #00475e;
  --color-primary-container: #1a5f7a;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #9bd7f7;
  --color-primary-fixed: #c0e8ff;
  --color-primary-fixed-dim: #92cfee;
  --color-on-primary-fixed: #001e2b;
  --color-on-primary-fixed-variant: #004d66;

  --color-secondary: #13696d;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #a5eff4;
  --color-on-secondary-container: #1d6f73;
  --color-secondary-fixed: #a5eff4;
  --color-secondary-fixed-dim: #89d3d8;
  --color-on-secondary-fixed: #002022;
  --color-on-secondary-fixed-variant: #004f53;

  --color-tertiary: #5f3800;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #7b4f16;
  --color-on-tertiary-container: #ffc484;

  --color-surface: #f8f9fc;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #40484d;
  --color-surface-container: #eceef0;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-high: #e7e8ea;
  --color-surface-container-highest: #e1e2e5;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #d8dadc;
  --color-surface-bright: #f8f9fc;
  --color-surface-tint: #236580;
  --color-surface-variant: #e1e2e5;

  --color-outline: #70787d;
  --color-outline-variant: #c0c8cd;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-inverse-surface: #2e3133;
  --color-inverse-on-surface: #eff1f3;
  --color-inverse-primary: #92cfee;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}